/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/*
搜索输入框
*/
#search {
	width:100%;
}
/*
首页大学图片大小
*/

td img {
	width: 100px;
}

th {
	vertical-align:middle;
	text-align:center;
	
}
th p {
	font-family:宋体;
	font-size:20px;
}